项目代码/GraduationThesis/GraduationThesis/Web References/GraduationThesisWebService/GraduationThesisWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="TestLogin">
        <s:complexType />
      </s:element>
      <s:element name="TestLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TestLoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TestLoginSoapIn">
    <wsdl:part name="parameters" element="tns:TestLogin" />
  </wsdl:message>
  <wsdl:message name="TestLoginSoapOut">
    <wsdl:part name="parameters" element="tns:TestLoginResponse" />
  </wsdl:message>
  <wsdl:portType name="GraduationThesisWebServiceSoap">
    <wsdl:operation name="TestLogin">
      <wsdl:input message="tns:TestLoginSoapIn" />
      <wsdl:output message="tns:TestLoginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GraduationThesisWebServiceSoap" type="tns:GraduationThesisWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestLogin">
      <soap:operation soapAction="http://tempuri.org/TestLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GraduationThesisWebServiceSoap12" type="tns:GraduationThesisWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestLogin">
      <soap12:operation soapAction="http://tempuri.org/TestLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GraduationThesisWebService">
    <wsdl:port name="GraduationThesisWebServiceSoap" binding="tns:GraduationThesisWebServiceSoap">
      <soap:address location="http://localhost:9000/GraduationThesisWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="GraduationThesisWebServiceSoap12" binding="tns:GraduationThesisWebServiceSoap12">
      <soap12:address location="http://localhost:9000/GraduationThesisWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>